.btn {
    position: absolute;
    top: 476px;
    left: 50%;
    transform: translateX(-50%);
}




.btn button {
    position: relative;
}




.btn button {
    position: relative;
}




.btn button{
    position: relative;
    display:block;
    margin: 0 20px;
    border: none;
    color: white;
    background: rgb(4, 0, 12);
    padding: 17px 60px;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
    outline: rgb(3, 5, 0) 3px solid;
    cursor: pointer;
    box-sizing:0 5px 15px rgba(0,0,0,.2);
    overflow: hidden;
 
}
button:hover{
    box-sizing:0 5px 30px rgba(0, 0, 0, 0.2);
}




.btn button:after{
    position:absolute;
    content: '';
    left: 0;
    top:0;
    height:490%;
    width:140%;
    transition: all 0.5s ease-in-out;
    background: yellowgreen;
    transform: translate(-98%, -25%) rotate(45deg);
   
   
}




.btn:hover button:after{
    transform: translate(-9%, -25%) rotate(45deg);
   




}




.btn button span{
    position: absolute;
    z-index: 1;




}








h1{
    text-align: center;
}




.navbar ul{
   
    list-style-type: none;
    background: black;
    padding: 15px;
    margin: 0px;
    overflow: auto;
    border-bottom: 3px solid greenyellow;;
   












}
.navbar a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    font-family: "Outfit", sans-serif;








}




.navbar a:hover{
    background-color: greenyellow;
    color: black;
   
}
.navbar li{
    float: left;
}
.my_cover{
    width: 100%;
    height: 500px;
    object-fit: cover;
}
.container{
     margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 500px;
    position: relative
}








   
.spacecycle_logo2{
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: 75px;
    left: 360px;
   




}








*{
 padding: 0;
 margin: 0;  
 box-sizing: border-box;








}




footer{
    background-color: black;
    color : rgb(255, 255, 255);
    font-family: "Outfit", sans-serif;
    border-bottom: 3px solid greenyellow;
    border-top: 3px solid greenyellow;
    position: absolute;
    bottom: 0;
    text-align: center;
    font-size: 22px;
    padding: 2% 0;
    width: 100%;
   
}




h1{
    font-size: 80px;
    font-family: sans-serif;




}




.SpaceHub{
    position: absolute;
    top: 100px;
    left: 1200px;
}




.CycleCatcher{
    position: absolute;
    top: 275px;
    left: 1300px;
}








.CycleHub{
    position: absolute;
    top: 115px;
    left: 110px;
}




.CycleHubmodel{
    position: absolute;
    top: 276px;
    left: 10px;
}




.CycleHub3{
    position: absolute;
    top: 438px;
    left: 1175px;
    display: block;
    max-inline-size: 100%;
}




.CycleCatchermodel{
    position: absolute;
    top:440px;
    left: 145px;
}












.slogan{
    text-align: center;
    font-size: 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    font-family: 'Bebas Neue', sans-serif;
    color:rgb(0, 0, 0);
    top: 425px;
    left: 755px;
}







